{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Hotel-Queens Reservation Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 <link rel="stylesheet" href="{% static 'home/css/all.min.css'%}">
 <link rel="stylesheet" href="{% static 'home/css/styler.css'%}">
  </head>
  <body>
    <div class="testbox">
    <form method="post">
      {%csrf_token%}
      <div class="banner">
        <h1>Hotel-Queens Reservation Form</h1>
      </div>
      <br/>
      <fieldset>
        <legend>Reservation Details</legend>
        <div class="columns">
          <div class="item">
            
            <input id="name" type="text" name="cstname" placeholder="Occupant's Name"  required/>
          </div>
      
          <div class="item">
    
            <input id="email" type="text"   name="cstemail" placeholder="Email" required />
          </div>

          <div class="item">
    
            <input id="amt" type="text"   name="cstamount" placeholder="amount" required />
          </div>
          <div class="item">
    
            <input id="rnum" type="text"   name="cstroom" placeholder="Room Number" required />
          </div>
          <div class="item">
    
            <input id="occupation" type="text"   name="Occupation" placeholder="Occupation" required />
          </div>

          <div class="item">
            <input id="nights" type="number"   name="num_night" placeholder="Number of Nights" required />
          </div>
          
      <div class="columns">
      <div class="item">
      <label for="checkindate">Check-in Date <span>*</span></label>
      <input id="checkindate" type="date" name="checkindate" required />
      <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
      <label for="checkoutdate">Check-out Date <span>*</span></label>
      <input id="checkoutdate" type="date" name="checkoutdate" required />
      <i class="fas fa-calendar-alt"></i>
      </div>
          
      </fieldset>
      <br/>


      {% comment %} <fieldset>
      <legend>Dates</legend>
      <div class="columns">
      <div class="item">
      <label for="checkindate">Check-in Date <span>*</span></label>
      <input id="checkindate" type="date" name="checkindate" />
      <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
      <label for="checkoutdate">Check-out Date <span>*</span></label>
      <input id="checkoutdate" type="date" name="checkoutdate" />
      <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
      <p>Check-in Time </p>
      <select>
      <option value="" disabled selected>Select time</option>
      <option value="1" >Morning</option>
      <option value="2">Afternoon</option>
      <option value="3">Evening</option>
      </select>
      </div>
      <div class="item">
      <p>Check-out Time </p>
      <select>
      <option  value="4" disabled selected>Select time</option>
      <option value="5" >Morning</option>
      <option value="6">Afternoon</option>
      <option value="7">Evening</option>
      </select>
      </div>    
      <div class="item">
      <p>How many adults are coming?</p>
      <select>
      <option value="8" disabled selected>Number of adults</option>
      <option value="9" >1</option>
      <option value="10">2</option>
      <option value="11">3</option>
      <option value="12">4</option>
      <option value="13">5</option>
      </select>
      </div>    
      <div class="item">
      <p>How many children are coming?</p>
      <select>
      <option value="14" disabled selected>Number of children</option>
      <option value="15" >0</option>
      <option value="16">1</option>
      <option value="17">2</option>
      <option value="18">3</option>
      <option value="19">4</option>
      <option value="19">5</option>
      </select>
      </div>   
      <div class="item" style=width:100%>
      <label for="room">Number of rooms</label>
      <input id="room" type="number" name="room" />
      </div>
      <div class="item">
      <p>Room 1 type</p>
      <select>
      <option value="20" selected></option>
      <option value="21">Standard</option>
      <option value="22">Deluxe</option>
      <option value="23">Suite</option>
      </select>
      </div>    
      <div class="item">
      <p>Room 2 type</p>
      <select>
      <option value="24"  selected></option>
      <option value="25">Standard</option>
      <option value="26">Deluxe</option>
      <option value="27">Suite</option>
      </select>
      </div>    
      </div>
      <div class="item">
      <label for="instruction">Special Instructions</label>
      <textarea id="instruction" rows="3"></textarea>
      </div>
      </fieldset> {% endcomment %}
      <div class="btn-block">
      <button type="submit">Add</button>
      </div>
    </form>
    </div>
  </body>
</html>

